root = true

[*]
charset = utf-8
indent_style = space      # 或 tab
indent_size = 4           # 如果使用空格，设置大小
end_of_line = lf          # 换行风格 (lf: Unix 风格)
trim_trailing_whitespace = true
insert_final_newline = true
