# User-specific files
*.suo
*.user
launchSettings.json
*.sln.docstates
*.sln.metaproj
*.sln.metaproj.tmp
.vs/
.vscode/
*.cache
*.code-workspace
*.lutconfig

# Build results
[Bb]in/
[Oo]bj/
/jtjsym/jtjsym/[Pp]roperties/
/jtjsym/[Pp]ublish/
