@page "/"

<PageTitle>jtjsym</PageTitle>

<header>
    <!-- 头部内容 -->
    <h1>欢迎来到夜游桃花源</h1>
</header>
<main>
    <!-- 页面的主要内容 -->
    <h2>你好！</h2>
</main>


<footer>
    <div style="position: fixed; bottom: 0; width: 100%; text-align: center; background-color: rgba(0,0,0,0.5); color: white; padding: 10px 0;">
        <a href="https://beian.mps.gov.cn/#/" target="_blank" style="color: white;">陕ICP备2024056488号</a>
    </div>
</footer>
