<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="font-family: 'Arial', sans-serif;">夜游桃花源</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> jtjsym
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-pulse" aria-hidden="true"></span> 按下试试
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loveTime">
                <span class="oi oi-heart" aria-hidden="true"></span> 爱情计时器
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game_2048">
                <span class="oi oi-play-circle" aria-hidden="true"></span> 2048
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
